openapi: 3.0.0
info:
  title: "Divvun Grammar Checker Server API"
  version: "0.2.0"
  contact:
    name: Brendan Molloy
    email: brendan@technocreatives.com
servers:
  - url: https://api-giellalt.uit.no
    description: Staging server
tags:
  - name: General
  - name: Grammar check
  - name: Spellcheck
paths:
  /speller/{languageCode}:
    parameters:
    - name: languageCode
      in: path
      required: true
      example: se
      description: The specified language
      schema:
        type: string
    post:
      operationId: postSpellCheck
      tags: 
        - Spellcheck
      summary: Returns spelling check results
      description: Returns spelling check results for the supplied text and language
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpellCheckRequest"
      responses:
        '200':
          description: List of spelling check results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpellCheckResult"
        default:
          description: Error
  /grammar/{languageCode}:
    parameters:
    - name: languageCode
      in: path
      required: true
      example: se
      description: The specified language
      schema:
        type: string
    post:
      operationId: postGrammarCheck
      tags:
        - Grammar check
      summary: Returns grammar check results
      description: Returns grammar check results for the supplied text and language
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrammarCheckRequest"
      responses:
        '200':
          description: List of grammar check results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GrammarCheckResult"
        default:
          description: Error
  /preferences/grammar/{languageCode}:
    parameters:
    - name: languageCode
      in: path
      required: true
      example: se
      description: The specified language
      schema:
        type: string
    get:
      operationId: getGrammarPreferences
      tags:
        - Grammar check
        - General
      summary: Returns grammar checker preferences
      description: Returns available grammar checker preferences for the specified language code
      responses:
        '200':
          description: A set of preferences
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrammarPreferencesResult"
        default:
          description: Error
  /languages:
    get:
      operationId: getLanguageOptions
      tags:
        - General
      summary: Returns options related to languages
      description: Returns options related to languages, like what languages are available
      responses:
        '200':
          description: A set of options
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguageOptionsResult"
        default:
          description: Error
components:
  schemas:
    SpellCheckRequest:
      type: object
      required:
        - word
      properties:
        word:
          type: string
    GrammarCheckRequest:
      type: object
      required:
        - text
      properties:
        text:
          type: string
        ignore_tags:
          type: array
          items: 
            type: string
            example: "msyn-compound"
    GrammarError:
      type: object
      required:
        - error_text
        - start_index
        - end_index
        - error_code
        - description
        - suggestions
      properties:
        error_text:
          type: string
          example: "servodat dilálašvuođain"
          description: The part of the text which is incorrect
        start_index:
          type: integer
          example: 167
          description: The starting index of the error_text within the submitted text
        end_index:
          type: integer
          example: 190
          description: The ending index of the error_text within the submitted text
        error_code:
          type: string
          example: "msyn-compound"
          description: The identifier of the error
        description:
          type: string
          example: servodat dilálašvuođain berrešii leat oktan sátnin.
          description: The human readable description of what the error is
        suggestions:
          type: array
          description: A list of suggestions for replacing the error_text
          items:
            type: string
            example: servodatdilálašvuođain
            
    GrammarCheckResult:
      type: object
      required:
        - text
        - errs
      properties:
        text:
          type: string
          description: The text to which the errors relate to
          example: Bealljeheamit leat, nu movt Norgga Bealljehemiidlihttu oaidná, duvdojuvvon olggobeallai diehtojuohkinservodaga, miidagaha ahte bealljeheamit dávjá ožžot unnit dieđuid servodat dilálašvuođain.
        errs:
          type: array
          items:
            $ref: "#/components/schemas/GrammarError"

    SpellCheckResult:
      type: object
      required:
        - word
        - suggestions
      properties:
          word:
            type: string
            description: The misspelled word
            example: oainá
          suggestions:
            type: array
            items:
              type: string
              example: oaidná
      
    GrammarPreferencesResult:
      type: object
      properties:
        error_tags:
          type: object
          additionalProperties:
            type: string
          example: { "tag": "description" }

    LanguageOptionsResult:
      type: object
      properties:
        available:
          type: object
          properties:
            grammar:
              type: object
              additionalProperties:
                type: string
              example: { "se": "davvisámegiella", "bg": "български" }
            spelle:
              type: object
              additionalProperties:
                type: string
              example: { "se": "davvisámegiella" }
